.bag-info{
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

.bag-info-empty {
    border: 2px solid #aaaaaa;
    background: #dddddd;
    border-radius: 6px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.bag-info-main{
    display: flex;
    flex-direction: column;
}

.bag-info-main-text {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

.bag-info-secondary-text{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 9px;
    display: flex;
    align-items: center;
    color: #0029FF;
    margin-top: 5px;
}

.bag-info-transport{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bag-info-transport-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7px;
}

.bag-info-transport-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #EE0000;
}


.bag-info-transport-text-2{
    margin-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #177300;
}

.bag-info-clickable {
    cursor: pointer;
}

.bag-info-transport-move-to{

    background: #000000;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

.bag-info-transport-move-to-text{
    margin-top: 3px;
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.bag-icon{
    font-size: 20px;
}

.bag-info-price-text{
    margin-top: 5px;
    font-family: Roboto, serif;
    font-style: normal;
    font-size: 8px;
    font-weight: bold;
}
