.locker-info{
    border: 2px solid lightgray;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background: white;
    margin-left: 24px;
    margin-top: -70px;
}

.info-main-column{
    display: flex;
    flex-direction: column;
}

.info-main-text{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

.info-secondary-text{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    color: #0029FF;
}

.info-availability-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 9px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.info-unavailable-text{
    color: #EE0000;
    margin-bottom: 3px;
}


.info-available-text{
    color: #177300;
}

.info-price-text{
    font-family: Roboto;
    font-style: normal;
    font-size: 8px;
    font-weight: bold;
}

.reservation-button{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    background: #000000;
    display: flex;
    align-content: center;
    margin-top: 5px;
    color: white;
    font-size: 10px;
}
